body {
  font: Verdana, Arial, Helvetica, sans-serif;
}


#formwrapperdiv {
  width: 800px;
}

tablediv.table.td {
  valign:top;
}

#creatediv {
  font: Helvetica, sans-serif;
  width: 300px;
}

#querydiv {
  font: Helvetica, sans-serif;
  width: 300px;
}

#actionsdiv {
  font: Helvetica, sans-serif;
  width: 200px;
}

/*
table {
  font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 400px;
}

th {
  padding: 0 0.5em;
  text-align: left;
  }

tr.yellow td {
  border-top: 1px solid #FB7A31;
  border-bottom: 1px solid #FB7A31;
  background: #FFC;
  }

td {
  border-bottom: 1px solid #CCC;
  padding: 0 0.5em;
  }

td:first-child { width: 75px; }

td+td {
  border-left: 1px solid #CCC;
  text-align: left;
  width: 275px;
}
*/
