<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{pagetitle | default('EPI Judge')}}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- ACE code editor -->
    <style type="text/css" media="screen">
        #editor {
            width: 100%;
            height: 45%;
        }
    </style>

    <!-- For autocompletion -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>

<body>
    
    <pre id="uploaded-content"> </pre>

    <!-- <div class="container"> -->
    <div class="col-md-2" id="left-column">
        <div id="epijudgebeta">
            <!-- <img src="/epijudgebeta.png"></img> -->
            <h2>

            EPI Judge

            </h2>
        </div>
        <b>Suggested Problems</b>
        <div id="studyguide1"></div>
        <!--
        <b>Posts by Chapter</b>
        <div id="chaptertags"></div>
        <b>Posts by Difficulty</b>
        <div id="difficultytags"></div>
        -->
        <!--
        <b>Study Guide 2</b>
        <div id="studyguide2"></div>
        -->
    </div>

    <div class="col-md-10" id="mainscreen" style="padding-right:40px">

        <p></p>

<!--
        <div class="row" class="input-group search-input">

            <input id="search-field" class="col-md-11" class="form-control input-round search-field" style="height: 30px; font-size: 12px; line-height: 27px;" placeholder="Search" type="text" value="Add search text here">

            <span class="col-lg=1" class="input-group-btn search-btn-wrapper">

                <button class="btn input-round search-btn" id="search-btn" style="height: 30px; border:1px solid #d3d3d3; font-size: 15px;"><i class="fa fa-search" style="display: block; margin-top: -2px;"></i>
                </button>
            </span>
        </div>
-->

        <div class="row">
            <div class="col-md-8">
                <h4>Summary</h4>{{ summary }}
            </div>
       </div>

        <div class="row">
            <div class="col-md-8">
                <!-- <div class="pull-right" style="padding-right:20px"> -->
                <div>
                    <h4>Tags</h4>{{ tags }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="padding-right:20px">
                <h3>Description</h3>{% autoescape false %}{{description}}{% endautoescape %}
            </div>
        </div>

        <div class="row" style="padding-top: 20px; padding-left:16px;">
            <button type="button" value="submit" id="hint-btn" class="btn btn-xs btn-default " aria-label="Left Align">
                <span>Hint 1</span>
            </button>
            
            {% if hint2 %}
                <button type="button" id="hint2-btn" value="submit" class="btn btn-danger btn-xs" id="change-column">
                    <span>Hint 2</span>
                </button>
            {% endif %}

            <button type="button" value="submit" id="custom-args-btn" class="btn btn-xs btn-primary " aria-label="Left Align">
                <span>Custom args</span>
            </button>


            <a href="{{discussion|default('http://talk.elementsofprogramminginterviews.com')}}"><button type="button" id="change-column" value="submit" class="btn btn-success btn-xs" aria-label="Left Align">
                <span>Discussion</span>
            </button></a>

            <button type="button" value="submit" id="solution-btn" class="btn btn-info btn-xs" aria-label="Left Align">
                <span>Solution</span>
            </button>

                <button type="button" id="sendto-compilebox" value="submit" class="btn btn-warning btn-xs" id="change-column" aria-label="Change Columns">
                    <span>Run</span>
                </button>

                <button type="button" id="sendto-compilebox" value="submit" class="btn btn-error btn-xs" id="change-column" aria-label="Change Columns">
                    <span>Learn more</span>
                </button>

        </div>

        <div class="row" style="display:none" id="hint-content">
            <div class="col-md-12">
                <h3>Hint</h3> {{ hint | default('No hint for this problem.') }}
                <p></p>
            </div>
        </div>

        <div class="row" style="display:none" id="hint2-content">
            <div class="col-md-12">
                <h3>Hint 2</h3> {{ hint2 | default('No hint for this problem.') }}
                <p></p>
            </div>
        </div>

        <div class="row" style="display:none" id="solution-content">
            <div class="col-md-12">
                <h3>Solution</h3> {% autoescape false %}{{ solution|default('<a href="http://amzn.to/epibook">Here</a>') }}{% endautoescape %}
                <p></p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10">
                <h3>Your submission</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="drop-area">
                <div id="editor">{{ skeleton }}</div>
            </div>
        </div>


        <div class="row" style="display:none" id="custom-args-content">
            <div class="col-md-12">
                <h3>Custom arguments</h3>
                <textarea rows=2 id="custom-test" style="width:100%;">
                    {{ args }}
                </textarea>
            </div>
        </div>

        <div class="row" style="display:none" id="std-output">
                    <div class="col-md-12">
                        <b>Output</b>
                        <pre><code><div id="compilebox-output"></div></code></pre>
                    </div>

                    <!--
                    <div style="display:none" class="col-md-1">
                        <b>Runtime</b>
                        <div id="compilebox-time"></div>
                    </div>
                    -->
        </div>

        <div class="row" style="display:none" id="error-output">
             <div class="col-md-12">
               <b>Errors</b>
               <pre><code><div id="compilebox-errors"></div></code></pre>
             </div>
        </div>

        <div class="row" style="display:none" id="suggest-reading-content">
            <div class="col-md-12">
                <h3>Suggested Readings</h3> {% autoescape false %}{{readmore}}{% endautoescape %}
            </div>
        </div>

        <div class="row">
            <div id='discourse-comments'></div>

            <script type="text/javascript">
                DiscourseEmbed = {
                    discourseUrl: 'http://talk.elementsofprogramminginterviews.com/',
                    discourseEmbedUrl: 'http://epijudge.ddns.net/'
                };

                (function() {
                    var d = document.createElement('script');
                    d.type = 'text/javascript';
                    d.async = true;
                    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                })();
            </script>

        </div>


    </div>

    <!--
    <div class="col-md-2" id="right-column">
        <div id="faq">
            <a href="http://google.com"><b><h3>FAQ <i class="fa fa-question-circle"></i></h3></b></a>
        </div>
        <div id="buy" style="padding-top: 20px;" id="rcorners2">
            <a href="http://amzn.to/epibook">
                <img width=100 src="http://elementsofprogramminginterviews.com/img/epi-java-thumbnail.png"></img>
                <p></p>
                Buy at Amazon
            </a>
            <p></p>
        </div>
        <div id="articlecloud" style="padding-top: 10px;">
            <b>Good articles</b>
        </div>
    </div>
-->


    <!-- </div> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-monokai.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-github.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-dawn.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/worker-javascript.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/vibrant_ink");
        //document.getElementById('editor').style.fontSize = '18px';
        editor.getSession().setMode("ace/mode/java");
        editor.setFontSize(14) // will set font-size: 10px
        //console.log(editor.getValue());
    </script>


    <script>
        var compileboxServer = "http://epijudge.ddns.net:8000/";

        var testcases = `{% autoescape false %}{{testcases}}{% endautoescape %}`;
        console.log("args = " + `{{args}}`);

        //var numPrologueLines = prologue.split(/\r\n|\r|\n/).length;

        $(document).ready(function() {
            $("#sendto-compilebox").click(function() {
                console.log("In compilebox");
                var compileboxArgs = {
                    "language": 8, // Java
                    "code": editor.getValue() + testcases,
                    "stdin": $("#custom-test").text()
                };

                console.log(JSON.stringify(compileboxArgs));
                $.ajax({
                    type: 'POST', // http method
                    url: compileboxServer + 'compile', // target URL
                    //url: "http://146.6.28.101:8000/compile",
                    data: compileboxArgs,
                    //data: {},
                    success: function(serverResp) { // on ajax success
                        console.log("serverResp = " + JSON.stringify(serverResp));
                        $('#compilebox-output').html(serverResp.output);
                        $('#compilebox-errors').html(serverResp.errors);
                        $('#compilebox-time').html(serverResp.time);
                        $("#std-output").show();
                        $("#error-output").show();

                    },
                    error: function(serverResp) { // on ajax failure
                        console.log('5xx http status code or unexpected response content');
                    }
                });
            });
        });

        $(document).ready(function() {
            $("#change-column").click(function() {
                console.log("In change-column");
                $("#left-column").remove();
                $("#right-column").replaceWith('<div class="region">' + "Some Discuss Content" + '</div>');
            });
        });
    </script>


    <script>
        var ajaxHelper = function(service, data, callback) {
            $.ajax({
                type: 'POST', // http method
                url: '/api/' + service, // target URL
                data: data || {}, // data (the js obj)
                success: function(serverResp) { // on ajax success
                    callback(service, serverResp);
                },
                error: function(serverResp) { // on ajax failure
                    console.log('5xx http status code or unexpected response content');
                }
            });
        }

        var writeDiv = function(divid, serverResp) {
            console.log("divid = " + divid);
            console.log("serverResp = " + JSON.stringify(serverResp));
            for (var i = 0; i < serverResp.length; i++) {
                //console.log(key, serverResp[key]);
                var div = document.createElement('div');
                div.innerHTML = '<a href="' + serverResp[i][1] + '">' + serverResp[i][0] + '</a>';
                document.getElementById(divid).appendChild(div);
            }
        }

        $(document).ready(function() {
            //ajaxHelper('chaptertags', undefined, writeDiv);
            ajaxHelper('difficultytags', undefined, writeDiv);
            ajaxHelper('studyguide1', undefined, writeDiv);
            //ajaxHelper('studyguide2', undefined, writeDiv);
            ajaxHelper('articlecloud', undefined, writeDiv);
        });
    </script>

    <script>
        $(document).ready(function() {
            // clear searchbox default contents
            $("#search-field").click(function() {
                $("#search-field").val('');
            });

            $("#search-btn").click(function() {
                var searchTerm = $("#search-field").val().trim();
                ajaxHelper('search', {
                    searchTerm: searchTerm
                }, function(service, serverResp) {
                    if (serverResp.code !== 200) {
                        console.log("Search error" + JSON.stringify(serverResp));
                        return;
                    }
                    var searchResultHtml = "<p><p><h3>Search Results</h3><p><p>";
                    for (var i = 0; i < serverResp.result.length; i++) {
                        var dict = serverResp.result[i];
                        searchResultHtml += '<a href="' + dict.postname + '">' + dict.postname + '</a><br>' + dict.summary;
                    }
                    $('#mainscreen').html(searchResultHtml);
                });
            });
        });
    </script>


    <script>
        $(function() {
            $("#search-field").autocomplete({
                source: "/api/searchSuggestionsForBloodhound",
                minLength: 2,
                select: function(event, ui) {
                    console.log("Selected: " + ui.item.value + " aka " + ui.item.id +
                        " input was " + this.value);
                }
            });
        });
    </script>

    <script>
        var visibleHint = false;
        $(function() {
            $("#hint-btn").on("click",
                function() {
                    if (visibleHint === false) {
                        $("#hint-content").show();
                        visibleHint = true;
                    } else {
                        $("#hint-content").hide();
                        visibleHint = false;
                    }
                    //$("#hint-content").show();
                    // also hide
                })
        });
    </script>

    <script>
        var visibleHint = false;
        $(function() {
            $("#hint2-btn").on("click",
                function() {
                    if (visibleHint === false) {
                        $("#hint2-content").show();
                        visibleHint = true;
                    } else {
                        $("#hint2-content").hide();
                        visibleHint = false;
                    }
                    //$("#hint-content").show();
                    // also hide
                })
        });
    </script>
    <script>
        var visible = false;
        $(function() {
            $("#custom-args-btn").on("click",
                function() {
                    if (visible === false) {
                        $("#custom-args-content").show();
                        visible = true;
                    } else {
                        $("#custom-args-content").hide();
                        visible = false;
                    }
                })
        });
    </script>

    <script>
        var visible = false;
        $(function() {
            $("#solution-btn").on("click",
                function() {
                    console.log("solution clicked");
                    if (visible === false) {
                        $("#solution-content").show();
                        visible = true;
                    } else {
                        $("#solution-content").hide();
                        visible = false;
                    }
                })
        });
        </script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#drop-area').on('dragover', function(e) {
            e.preventDefault();
            e.stopPropagation();
        });

        $('#drop-area').on('dragenter', function(e) {
            e.preventDefault();
            e.stopPropagation();
        });

        $('#drop-area').on('drop', function(e){
            if(e.originalEvent.dataTransfer){
                if(e.originalEvent.dataTransfer.files.length) {
                    e.preventDefault();
                    e.stopPropagation();

                    readAndProcessFiles(e.originalEvent.dataTransfer.files);
                }   
            }
        });


       function readAndProcessFiles(files) {
            var file = files[0];
            
            var textType = /.*/; // ND: you can add specific types here, like: /text.*/ for only .txt files...

            if (file.type.match(textType)) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    // $('#uploaded-content').text(reader.result); 
                    // $('#uploaded-content').text(reader.result); 
                    editor.setValue(reader.result);
                }

                reader.readAsText(file);
            }
            else {
                $('#uploaded-content').text("file not supported!");
            }
        }
    });

    </script>


</body>
