<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title | default('EPI Judge')}}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css">
    </script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- ACE code editor -->
    <style type="text/css" media="screen">
        #editor {
            width: 100%;
            height: 45%;
        }
    </style>

    <!-- For autocompletion -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- For nice notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Primitive Types <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Parity</a> </li>
                            <li><a href="#">atoi</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arrays<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Dutch National Flag</a> </li>
                            <li><a href="#">Delete a  key</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">String<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Base conversion</a> </li>
                            <li><a href="#">Replace and remove</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Linked Lists<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Merge two sorted lists</a> </li>
                            <li><a href="#">Test for cyclicity</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stack, Queues<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Implement a stack with max API</a> </li>
                            <li><a href="#">Evaluate RPN expressions</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Binary Trees<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Test if a binary tree is balanced</a> </li>
                            <li><a href="#">Compute the LCA</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Heaps<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Merge sorted arrays</a> </li>
                            <li><a href="#">Compute the exterior of a binary tree</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Searching<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">First occurence of a key</a> </li>
                            <li><a href="#">Search a cyclically sorted array</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hash Tables<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Anagrams</a> </li>
                            <li><a href="#">ISBN Cache</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sorting<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">In-place mergesort</a> </li>
                            <li><a href="#">Render a calendar</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BSTs<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Compute the LCA in a BST</a> </li>
                            <li><a href="#">Enumerate numbers of the form a + b sqrt(2)</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recursion<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">The towers of Hanoi</a> </li>
                            <li><a href="#">Powerset</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">D.P.<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Number of ways</a> </li>
                            <li><a href="#">The <pre>bedbathandbeyond.com</pre> problem</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Greedy Algos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Huffman Coding</a> </li>
                            <li><a href="#">The 3-sum problem</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Graphs<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Search a maze</a> </li>
                            <li><a href="#">Paint a Boolean matrix</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1>EPI Judge</h1>
            <h2>Learn by hands-on coding!</h2>
        </div>
    </div>

    <row>
        <div class="col-xs-12" id="mainscreen" style="padding-right:40px">

            <!--
        <div class="row" class="input-group search-input">

            <input id="search-field" class="col-xs-11" class="form-control input-round search-field" style="height: 30px; font-size: 12px; line-height: 27px;" placeholder="Search" type="text" value="Add search text here">

            <span class="col-lg=1" class="input-group-btn search-btn-wrapper">

                <button class="btn input-round search-btn" id="search-btn" style="height: 30px; border:1px solid #d3d3d3; font-size: 15px;"><i class="fa fa-search" style="display: block; margin-top: -2px;"></i>
                </button>
            </span>
        </div>
-->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Summary</h3>
                </div>
                <div class="panel-body">
                    {% autoescape false %}{{ summary }}{% endautoescape %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Description</h3>
                </div>
                <div class="panel-body">
                    {% autoescape false %}{{ context }}{% endautoescape %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Problem</h3>
                </div>
                <div class="panel-body">
                    {% autoescape false %}{{ problem }}{% endautoescape %}
                </div>
            </div>
            <!-- <div class="row">
            <div class="col-xs-8">
                <div>
                    <h4>Tags</h4>{{ tags }}
                </div>
            </div>
        </div>
        -->

            <div class="row" style="padding-top: 20px; padding-left:16px;">

                <!--<span class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Language
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Java</a></li>
                <li><a href="#">C++</a></li>
                <li><a href="#">Python</a></li>
              </ul>
            </span>
-->

                <!--
                <div class="row">
                    <div style="padding-left:10px">
                        <select class="form-control input-xs col-xs-2" id="language-select" style="width:80px;">
                            <option value="Java" class="form-control input-xs">Java</option>
                            <option value="C++" class="form-control input-xs">C++</option>
                            <option value="Python" class="form-control input-xs">Python</option>
                        </select>
                    </div>
-->


                <button type="button" value="submit" id="hint-btn" class="btn btn-xs btn-default " aria-label="Left Align">
                    <span>Hint {% if hint2 %}1{% endif %}</span>
                </button>

                {% if hint2 %}
                <button type="button" id="hint2-btn" value="submit" class="btn btn-danger btn-xs">
                    <span>Hint 2</span>
                </button>
                {% endif %}

                <button type="button" value="submit" id="custom-args-btn" class="btn btn-xs btn-primary">
                    <span>Custom args</span>
                </button>


                <a href="{{discussion|default('http://talk.elementsofprogramminginterviews.com')}}">
                    <button type="button" id="change-column" value="submit" class="btn btn-success btn-xs" aria-label="Left Align">
                        <span>Discussion</span>
                    </button>
                </a>

                <!-- <button type="button" value="submit" id="solution-btn" class="btn btn-info btn-xs">
                <span>Solution</span>
            </button>
            -->

                <button type="button" id="sendto-compilebox" value="submit" class="btn btn-warning btn-xs">
                    <span>Run</span>
                </button>

                <!-- 
                <button type="button" id="sendto-compilebox" value="submit" class="btn btn-error btn-xs">
                    <span>Learn more</span>
                </button>
                -->

                <!-- 
                <div class="col-xs-2">
                    <button type="button" id="share-facebook" value="submit" class="btn btn-primary btn-xs">
                        <span><i class="fa fa-facebook-official fa-2x"></i></span>
                    </button>

                    <button type="button" id="share-twitter" value="submit" class="btn btn-primary btn-xs">
                        <span><i class="fa fa-twitter-square fa-2x"></i></span>
                    </button>
                </div>
                    -->

            </div>

            <div class="panel panel-default" style="display:none" id="hint-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Hint</h3>
                </div>
                <div class="panel-body">
                    {{ hint | default('No hint for this problem.') }}
                </div>
            </div>

            <div class="panel panel-default" style="display:none" id="hint2-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Hint 2</h3>
                </div>
                <div class="panel-body">
                    {{ hint2 | default('No hint for this problem.') }}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Your solution</h3>
                </div>
                <div class="panel-body">
                    <div id="editor">{{ javaskeleton }}</div>
                </div>
            </div>

            <div class="panel panel-default" style="display:none" id="custom-args-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Custom arguments</h3>
                </div>
                <div class="panel-body">
                    <textarea rows=2 id="custom-test" style="width:100%;">{{ args }}</textarea>
                </div>
            </div>
            <div class="row" style="display:none" id="cplusplusskeleton-content">
                {{cplusplusskeleton}}
            </div>

            <div class="panel panel-default" id="compilebox-output-container" style="display:none">
                <div class="panel-heading">
                    <h3 class="panel-title"><pre>stdout</pre></h3>
                </div>
                <div class="panel-body">
                    <pre><code><div id="compilebox-output"></div></code></pre>
                </div>
            </div>

            <div class="panel panel-default" id="compilebox-errors-container" style="display:none">
                <div class="panel-heading">
                    <h3 class="panel-title"><pre>stderr</pre></h3>
                </div>
                <div class="panel-body">
                    <pre><code><div id="compilebox-errors"></div></code></pre>
                </div>
            </div>


            <div class="row">
                <div id='discourse-comments'></div>

                <script type="text/javascript">
                    DiscourseEmbed = {
                        discourseUrl: 'http://talk.elementsofprogramminginterviews.com/',
                        discourseEmbedUrl: 'http://epijudge.ddns.net/'
                    };

                    (function() {
                        var d = document.createElement('script');
                        d.type = 'text/javascript';
                        d.async = true;
                        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                    })();
                </script>

            </div>


        </div>

    </row>
    <!--
    <div class="col-xs-2" id="right-column">
        <div id="faq">
            <a href="http://google.com"><b><h3>FAQ <i class="fa fa-question-circle"></i></h3></b></a>
        </div>
        <div id="buy" style="padding-top: 20px;" id="rcorners2">
            <a href="http://amzn.to/epibook">
                <img width=100 src="http://elementsofprogramminginterviews.com/img/epi-java-thumbnail.png"></img>
                <p></p>
                Buy at Amazon
            </a>
            <p></p>
        </div>
        <div id="articlecloud" style="padding-top: 10px;">
            <b>Good articles</b>
        </div>
    </div>
-->


    <!-- </div> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-monokai.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-github.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-dawn.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/worker-javascript.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/vibrant_ink");
        //document.getElementById('editor').style.fontSize = '18px';
        editor.getSession().setMode("ace/mode/java");
        editor.setFontSize(14) // will set font-size: 10px
            //console.log(editor.getValue());
    </script>


    <script>
        var compileboxServer = "http://epijudge.ddns.net:8000/";

        var javatestcase = `{% autoescape false %}{{javatestcase}}{% endautoescape %}`;
        var pythontestcase = `{% autoescape false %}{{pythontestcase}}{% endautoescape %}`;
        var cplusplustestcase = `{% autoescape false %}{{cplusplustestcase}}{% endautoescape %}`;
        console.log("args = " + `{{args}}`);

        //var numPrologueLines = prologue.split(/\r\n|\r|\n/).length;
        console.log($("#language-select").val())

        $(document).ready(function() {
            $("#sendto-compilebox").click(function() {
                console.log("In compilebox");
                var editorText = editor.getValue();
                var codeToRun = javatestcase.replace("// @judge-fill", "\n // submitted solution:\n" + editorText + "\n// end submitted solution\n");
                var compileboxArgs = {
                    "language": 8, // Java
                    "code": codeToRun,
                    "stdin": $("#custom-test").text()
                };

                console.log(JSON.stringify(compileboxArgs));
                $.ajax({
                    type: 'POST', // http method
                    url: compileboxServer + 'compile', // target URL
                    //url: "http://146.6.28.101:8000/compile",
                    data: compileboxArgs,
                    //data: {},
                    success: function(serverResp) { // on ajax success
                        console.log("serverResp = " + JSON.stringify(serverResp));
                        $('#compilebox-output').html(serverResp.output);
                        $('#compilebox-errors').html(serverResp.errors);
                        $('#compilebox-time').html(serverResp.time);
                        $('#compilebox-output-container').show();
                        $('#compilebox-errors-container').show();
                        $("#std-output").show();
                        $("#error-output").show();

                    },
                    error: function(serverResp) { // on ajax failure
                        console.log('5xx http status code or unexpected response content');
                    }
                });
            });
        });

        $(document).ready(function() {
            $("#change-column").click(function() {
                console.log("In change-column");
                $("#left-column").remove();
                $("#right-column").replaceWith('<div class="region">' + "Some Discuss Content" + '</div>');
            });
        });
    </script>


    <script>
        var ajaxHelper = function(service, data, callback) {
            $.ajax({
                type: 'POST', // http method
                url: '/api/' + service, // target URL
                data: data || {}, // data (the js obj)
                success: function(serverResp) { // on ajax success
                    callback(service, serverResp);
                },
                error: function(serverResp) { // on ajax failure
                    console.log('5xx http status code or unexpected response content');
                }
            });
        }

        var writeDiv = function(divid, serverResp) {
            console.log("divid = " + divid);
            console.log("serverResp = " + JSON.stringify(serverResp));
            for (var i = 0; i < serverResp.length; i++) {
                //console.log(key, serverResp[key]);
                var div = document.createElement('div');
                div.innerHTML = '<a href="' + serverResp[i][1] + '">' + serverResp[i][0] + '</a>';
                document.getElementById(divid).appendChild(div);
            }
        }

        $(document).ready(function() {
            //ajaxHelper('chaptertags', undefined, writeDiv);
            ajaxHelper('difficultytags', undefined, writeDiv);
            ajaxHelper('studyguide1', undefined, writeDiv);
            //ajaxHelper('studyguide2', undefined, writeDiv);
            ajaxHelper('articlecloud', undefined, writeDiv);
        });
    </script>

    <script>
        $(document).ready(function() {
            // clear searchbox default contents
            $("#search-field").click(function() {
                $("#search-field").val('');
            });

            $("#search-btn").click(function() {
                var searchTerm = $("#search-field").val().trim();
                ajaxHelper('search', {
                    searchTerm: searchTerm
                }, function(service, serverResp) {
                    if (serverResp.code !== 200) {
                        console.log("Search error" + JSON.stringify(serverResp));
                        return;
                    }
                    var searchResultHtml = "<p><p><h4>Search Results</h4><p><p>";
                    for (var i = 0; i < serverResp.result.length; i++) {
                        var dict = serverResp.result[i];
                        searchResultHtml += '<a href="' + dict.postname + '">' + dict.postname + '</a><br>' + dict.summary;
                    }
                    $('#mainscreen').html(searchResultHtml);
                });
            });
        });
    </script>


    <script>
        $(function() {
            $("#search-field").autocomplete({
                source: "/api/searchSuggestionsForBloodhound",
                minLength: 2,
                select: function(event, ui) {
                    console.log("Selected: " + ui.item.value + " aka " + ui.item.id +
                        " input was " + this.value);
                }
            });
        });
    </script>

    <script>
        var visibleHint = false;
        $(function() {
            $("#hint-btn").on("click",
                function() {
                    if (visibleHint === false) {
                        $("#hint-content").show();
                        visibleHint = true;
                    } else {
                        $("#hint-content").hide();
                        visibleHint = false;
                    }
                    //$("#hint-content").show();
                    // also hide
                })
        });
    </script>

    <script>
        var visibleHint = false;
        $(function() {
            $("#hint2-btn").on("click",
                function() {
                    if (visibleHint === false) {
                        $("#hint2-content").show();
                        visibleHint = true;
                    } else {
                        $("#hint2-content").hide();
                        visibleHint = false;
                    }
                    //$("#hint-content").show();
                    // also hide
                })
        });
    </script>
    <script>
        var visible = false;
        $(function() {
            $("#custom-args-btn").on("click",
                function() {
                    if (visible === false) {
                        $("#custom-args-content").show();
                        visible = true;
                    } else {
                        $("#custom-args-content").hide();
                        visible = false;
                    }
                })
        });
    </script>

    <script>
        toastr.options.preventDuplicates = true;
        var visible = false;
        $(function() {
            $("[id^=share-]").on("click",
                function() {
                    toastr["success"]('This will be used to share the problem.');
                })
        });
    </script>

    <script>
        var visible = false;
        $(function() {
            $("#solution-btn").on("click",
                function() {
                    console.log("solution clicked");
                    if (visible === false) {
                        $("#solution-content").show();
                        visible = true;
                    } else {
                        $("#solution-content").hide();
                        visible = false;
                    }
                })
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#drop-area').on('dragover', function(e) {
                e.preventDefault();
                e.stopPropagation();
            });

            $('#drop-area').on('dragenter', function(e) {
                e.preventDefault();
                e.stopPropagation();
            });

            $('#drop-area').on('drop', function(e) {
                if (e.originalEvent.dataTransfer) {
                    if (e.originalEvent.dataTransfer.files.length) {
                        e.preventDefault();
                        e.stopPropagation();

                        readAndProcessFiles(e.originalEvent.dataTransfer.files);
                    }
                }
            });


            function readAndProcessFiles(files) {
                var file = files[0];

                var textType = /.*/; // ND: you can add specific types here, like: /text.*/ for only .txt files...

                if (file.type.match(textType)) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        // $('#uploaded-content').text(reader.result); 
                        // $('#uploaded-content').text(reader.result); 
                        editor.setValue(reader.result);
                    }

                    reader.readAsText(file);
                } else {
                    $('#uploaded-content').text("file not supported!");
                }
            }
        });
    </script>

    <script>
        $("#language-select").change(function() {
            // console.log("selection changed, new language is " + $("#language-select").val());
            editor.setValue($("#cplusplusskeleton-content").text());
            console.log("here!");
        });
    </script>


</body>
