<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>GoogleLogin</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.GoogleLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleLogin</servlet-name>
		<url-pattern>/googlelogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListAlert</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.ListAlertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAlert</servlet-name>
		<url-pattern>/listalert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateAlert</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.CreateAlertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAlert</servlet-name>
		<url-pattern>/createalert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestAlert</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.TestAlertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestAlert</servlet-name>
		<url-pattern>/testalert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewAlert</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.ViewAlertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAlert</servlet-name>
		<url-pattern>/viewalert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EverySixHours</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.EverySixHoursServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EverySixHours</servlet-name>
		<url-pattern>/everysixhours</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EveryDay</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.EveryDayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EveryDay</servlet-name>
		<url-pattern>/everyday</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EveryWeek</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.EveryWeekServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EveryWeek</servlet-name>
		<url-pattern>/everyweek</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Facebook</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.FacebookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Facebook</servlet-name>
		<url-pattern>/facebook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FacebookTask</servlet-name>
		<servlet-class>net.homeip.jtjang.MileageRunAppEngine.FacebookTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacebookTask</servlet-name>
		<url-pattern>/facebooktask</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
